[package]
name = "said_nexus"
version = "0.1.0"
edition = "2024"

[lib]
path = "src/lib.rs"


[dependencies]
serde = { version = "1.0", features = ["derive"] }
uuid = { version = "1.0", features = ["serde", "v4"] }
words-count = "0.1.6"
